@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.navbar {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    margin-bottom: 60px;
    position: relative;
}

.text {
    font-size: medium;
}

.navbar-brand {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    padding: 1.5px 0;
}

.navbar-brand .icon {
    margin-bottom: 1px;
}

@media (prefers-color-scheme: dark) {
    .navbar-brand {
        color: #fff;
    }
}

html {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.link {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container {
    margin-top: 10vh;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #4c4c4c;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); */
    margin-bottom: 2rem;
    animation: fadeInUp 1s ease;
}

form {
    max-width: 600px;
    margin: 0 auto 2rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease;
}

.form-label {
    font-weight: 500;
    color: #555;
}

.form-select {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0.75rem;
    transition: border-color 0.3s ease;
}

.form-select:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25);
}

.btn-primary {
    background-color: #677bfd;
    border-color: #677bfd;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

.btn-primary:hover {
    background-color: #5a4eff;
    border-color: #5a4eff;
    transform: translateY(-3px);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @media (prefers-color-scheme: dark) {
            body {
                background-color: #2b2b2b;
                color: #ffffff;
            }

            form {
                background-color: #343a40;
            }

            .form-label {
                color: #ffffff;
            }
        } */

#categories-label,
#subcategories-label {
    float: left;
    clear: both;
    /* 清除浮動 */
    margin-left: 10px;
    /* 可以調整右邊距以增加間距 */
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color: #ddd;
    }

    h1 {
        color: #fff;
        /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1); */
    }

    form {
        background-color: #2b2b2b;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    }

    .form-label {
        color: #ccc;
    }

    .form-select {
        background-color: #444;
        color: #ddd;
        border: 1px solid #555;
    }

    .form-select:focus {
        border-color: #677bfd;
        box-shadow: 0 0 0 0.2rem rgba(103, 123, 253, 0.25);
    }

    .btn-primary {
        background-color: #677bfd;
        border-color: #677bfd;
        color: #fff;
    }

    .btn-primary:hover {
        background-color: #5a4eff;
        /*872dd4*/
        border-color: #5a4eff;
    }
}

#home-link {
    font-weight: bold;
    color: #007bff;
}

@media (max-width: 767px) {
    .sidebar {
        right: -100vw;
        /* 在較小屏幕上,初始位置設置為完全隱藏 */
        width: 100vw;
        /* 側邊欄佔滿整個屏幕寬度 */
    }
}

@media (prefers-color-scheme: light) {
    .menu-icon {
        margin-top: 12px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 999;
    }

    .menu-icon span {
        display: block;
        width: 25px;
        height: 5px;
        background-color: #333333;
        margin-bottom: 5px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 70vw;
        height: 100vh;
        background-color: #f5f5f5ef;
        padding: 20px;
        box-sizing: border-box;
        transition: transform 0.35s ease;
        transform: translateX(100%);
        /* 初始時將側邊欄移出畫面 */
        z-index: 999;
        overflow-y: auto;
        /* 添加垂直滾動條 */
    }

    .sidebar.active {
        transform: translateX(0);
        /* 當添加 active 類時,側邊欄滑入畫面 */
    }

    .sidebar h2 {
        margin-top: 3vh;
        margin-bottom: 20px;
        color: #695C45;
        font-size: 23px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }

    .sidebar a {
        text-decoration: none;
        color: #333333;
        font-weight: bold;
        font-size: 16px;
    }
}

@media (prefers-color-scheme: light) {
    #mostUsedChapters {
        display: grid;
        flex-wrap: wrap;
        justify-content: left;
    }

    #mostUsedChapters div {
        background-color: #faf9f9e7;
        padding: 8px;
        margin: 3px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 16px;
    }

    .menu-icon {
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 999;
    }

    .menu-icon span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333333;
        margin-bottom: 5px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 100vh;
        background-color: #f5f5f5ef;
        padding: 20px;
        box-sizing: border-box;
        transition: transform 0.4s ease;
        transform: translateX(100%);
        /* 初始時將側邊欄移出畫面 */
        z-index: 999;
        overflow-y: auto;
        /* 添加垂直滾動條 */
    }

    .sidebar.active {
        transform: translateX(0);
        /* 當添加 active 類時,側邊欄滑入畫面 */
    }

    .sidebar h2 {
        margin-top: 3vh;
        margin-bottom: 20px;
        color: #695C45;
        font-size: 23px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }

    .sidebar a {
        text-decoration: none;
        color: #333333;
        font-weight: bold;
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {

    #mostUsedChapters {
        display: grid;
        flex-wrap: wrap;
        justify-content: left;
    }

    #mostUsedChapters div {
        background-color: #303030;
        padding: 8px;
        margin: 3px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        color: white;
    }

    .menu-icon {
        margin-top: 12px;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 999;
    }

    .menu-icon span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #c9c9c9;
        margin-bottom: 5px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .menu-icon.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-icon.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 100vh;
        background-color: #242424;
        /* 將側邊欄背景色改為深灰色 */
        color: #ddd;
        /* 將側邊欄內文本設置為淺灰色 */
        padding: 20px;
        box-sizing: border-box;
        transition: transform 0.35s ease;
        transform: translateX(100%);
        /* 初始時將側邊欄移出畫面 */
        z-index: 999;
        overflow-y: auto;
        /* 添加垂直滾動條 */
    }

    .sidebar.active {
        transform: translateX(0);
        /* 當添加 active 類時,側邊欄滑入畫面 */
    }

    .sidebar h2 {
        margin-top: 3vh;
        margin-bottom: 20px;
        color: #e2d2b7;
        font-size: 23px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
        color: #ddd;

    }

    .sidebar a {
        text-decoration: none;
        color: #ddd;
        font-weight: bold;
        font-size: 16px;
    }
}

.t {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #7a7a7a;
    /* 深藍色 */
    margin: 0;
    padding: 1px 0;
}

.countdown {
    color: #695C45;
    font-size: 16px;
    white-space: pre-wrap;
}

#visitCount {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4b52ab;
    font-weight: bold;
}

#visitCount {
    margin-top: 12px;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.9);
    }
}

#visitCount {
    animation: pulse 2.3s infinite;
}


@media (prefers-color-scheme: dark) {
    #visitCount {
        margin-top: 12px;
        background-color: #333;
        color: #fff;
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    }

    .countdown {
        color: #aaa;
    }
}