/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
html, body {
    height: 100%;
    overflow: hidden;
}

.app {
    height: 100vh;
    overflow: auto;
}
html {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.link {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}

.btn:hover,
.btn:focus {
    outline-offset: 3px;
}

#menu {
    position: absolute;
    top: 4%;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.round {
    border-radius: 100%;
}

.answer,.type{
    color: darkgray;
    font-size: 28px;
}
.left_hand_side {
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: absolute;
    left: 5%;
    bottom: 10%;
}
#answerBtn {
    position: relative;
    margin-right: 8%;
    right: 0;
}
/* #readBtn {
    position: absolute;
    left: 22%;
    bottom: 10%;
} */
.rightLeftArea {
    display: flex;
    justify-content: space-between;
    text-align: right;
    position: absolute;
    right: 5%;
    bottom: 10%;
}

#prev {
    position: relative;
    margin-right: 8%;
    right: 0;
}

.app>.container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 5px;
    height: 100%;
    position: relative;
    border-radius: 10px;
}

.question {
    font-size: 40px;
    opacity: 0;
    transform: scale(0.8);
    transition: color 0.5s ease-in-out;
}

.hint {
    font-size: 30px;
}

.panel {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.header {
    width: 100%;
    height: 13vh;
    text-align: right;
    padding: 5% 5%;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
#ccc{
    margin-top: 10%;
}
.header>div {
    margin: 0 3%;
}

.block {
    margin: 2% 1.5%;
    padding: 5% 5%;
    border: rgba(128, 128, 128, 0.586) solid 2px;
    border-radius: 20px;
}

.block h3 {
    text-align: center;
    margin-top: 2%;
}

.block>.options {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.option-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.block>table {
    width: 100%;
    text-align: center;
}

.chinese {
    display: none;
    font-family: 'Microsoft Yahei', 'PingFang SC', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #161616;
        color: rgb(255, 255, 255);
    }

    .setting {
        background-color: #161616;
        color: rgb(255, 255, 255);
        overflow-y: scroll;
    }
    
    .btn {
        border: none;
        outline: none;
        background: #872dd4;
        color: rgb(255, 255, 255);
        padding: 11px 25px;
        width: fit-content;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        transition: outline-offset 0.2s ease;
        outline: #872dd4 3px solid;
    }
}
#cc{
    color: #161616;
}
.more-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.option-row label:first-child {
    margin-right: 10px;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    box-shadow: 0 0 0 2px #ffffff inset;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



@media (prefers-color-scheme: light) {
    body {
        background-color: #161616;
        color: rgb(255, 255, 255);
    }

    .setting {
        background-color: #161616;
        color: rgb(255, 255, 255);
        overflow-y: scroll;
    }

    .btn {
        border: none;
        outline: none;
        background: #872dd4;
        color: rgb(255, 255, 255);
        padding: 11px 25px;
        width: fit-content;
        border-radius: 4px;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out, outline-color 0.5s ease-in-out;
        outline: #872dd4 3px solid;
    }
}

/* 切換開關樣式 */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #872dd4;
}

#color-picker:focus + .slider,
input:checked + #color-picker:focus + .slider {
    background-color: var(--selected-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

/* 切換動畫 */
.switch .slider {
    animation: switchAnimation 0.5s ease-in-out;
}

@keyframes switchAnimation {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}