/* 重置樣式 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 基礎樣式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    color: #333;
}

/* 可訪問性樣式 */
[aria-hidden="true"] {
    display: none;
}

/* 動畫樣式 */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}