/* 容器樣式 */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    animation: fadeIn 0.5s ease-in-out;
}

/* 頁腳樣式 */
.footer {
    padding: 0 10px;
    white-space: nowrap;
    font-size: smaller;
    text-align: center;
    margin-top: 10px;
    color: #888;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}