body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative; /* 新增這行 */
}
.navbar {
    background-color: #333;
    padding: 10px 20px;
}
/* 在你的 style.css 文件中添加以下样式 */
img {
    max-width: 100%; /* 图片的最大宽度为其容器的100% */
    height: auto; /* 保持图片的原始纵横比 */
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-item:hover {
    text-decoration: underline;
}

.ddd{
    color:#f0f4f7 ;
}

.form-check-label{
    font-size:small
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 400px;
    animation: fadeIn .5s ease-in-out;
    min-height: 100vh; /* 新增這行 */
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000
}

.select-area {
    margin-bottom: 20px
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9
}

.weather-info {
    text-align: center
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fcfcfce1;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left
}

.data-title {
    font-weight: bold
}

/* .footer {
    padding: 0 10px;
    /* white-space: nowrap; */
    /* font-size: smaller;
    text-align: center; */
    /* margin-top: 10px; */
    /* color: #888;
    position: absolute; */
    /* bottom: 0px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */


html {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


@media(prefers-color-scheme:dark) {
    /* body {
        background-color: #333;
        color: #fff
    }

    .container {
        background-color: #222;
        color: #fff

    } */
    /* #innn{
        color:#222 ;
    } */
    /* .table {
        background-color: #444;
        color: #fff
    }
    .table td {
        color: #fff;
    }
    
    .table td {
        border-color: #666;
        color: #fff
    }

    h2 {
        color: #fff
    } */
}
.footer {
    /* padding: 0 10px; */
    white-space: nowrap;
    font-size: smaller;
    text-align: center;
    /* margin-top: 10px; */
    color: #888;
    position: absolute; /* 新增這行 */
    bottom: 0; /* 新增這行 */
    left: 50%; /* 新增這行 */
    transform: translateX(-50%); /* 新增這行 */
}


