body {
    background-color: #f8f9fa;
    /* Light gray background */
    color: #212529;
    /* Dark gray text color */
}

.container {
    margin-top: 30vh;
    /* Add some top margin */
}
/* Button Styles */
.btn-primary {
    background-color: #4CAF50; /* Green primary button color */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #4CAF50; /* Green button border */
}

.btn-primary:hover {
    background-color: #45a049; /* Darker green hover color */
    border-color: #45a049; /* Darker green hover border color */
}

/* Adjust select dropdown width for mobile */
@media (max-width: 576px) {
    select.form-select {
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2b2b2b;
        /* Light gray background */
        color: #ffffff;
        /* Dark gray text color */
    }
}